<div class="comments">
 
    <div class="comments-container">
      <comment
        *ngFor="let rootComment of getRootComments()"
        [comment]="rootComment"
        [replies]="getReplies(rootComment.id)"
        [activeComment]="activeComment"
        (setActiveComment)="setActiveComment($event)"
        (addComment)="addComment($event)"
        (deleteComment)="deleteComment($event)"
        (updateComment)="updateComment($event)"
        (updateVote)="updateVote($event)"
        [currentUserId]="currentUserId"
      >
      </comment>
      <!-- (updateVote)="updateVote($event)" -->
    </div>
    <comment-form
      submitLabel="Send"
      (handleSubmit)="addComment({ text: $event, parentId: null })"
    >
    </comment-form>
  </div>